@page
@model LoginModel

@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/login.css"/>

<div class="auth">
    <div class="auth__logo-container">
        <img src="~/assets/logo.png" alt="bookverse logo" />
    </div>
    <div class="auth__form-container">
        <h1 class="auth__title">Log In</h1>
        <form class="auth__form" id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="auth__form-group">
                <label asp-for="Input.Email" class="auth__label">Email</label>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" class="auth__input" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="auth__form-group">
                <label asp-for="Input.Password" class="auth__label">Password</label>
                <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password" class="auth__input" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <button type="submit" class="auth__button">Log In</button>
            <div class="auth__links">
                <a href="#" class="auth__link auth__link--forgot">Forgot password?</a>
                <div class="auth__signup-prompt">
                    Don't have an account?
                    <a class="auth__link auth__link--signup" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
