html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.announcement-banner .alert {
    border-radius: 0;
    text-align: center;
    font-size: 1rem;
}

.announcement-banner {
    border-radius: 5px;
    margin: 10px auto;
    max-width: 100%;
    font-size: 1rem;
}

.btn-close {
    background: transparent;
    border: none;
}

.order-toast {
    animation: slideIn 0.5s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
