@{
    ViewData["Title"] = "Pickup Order";
}

<h2>Pickup Order</h2>

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success">@TempData["success"]</div>
}

<form method="post" asp-action="ProcessPickup">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label>Membership ID</label>
                <input type="text" name="membershipId" class="form-control" required/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label>Claim Code</label>
                <input type="text" name="claimCode" class="form-control" required/>
            </div>
        </div>
    </div>

    <div class="mb-3 float-end">
        <button type="submit" name="actionType" value="Complete" class="btn btn-success"><i class="bi bi-check-circle-fill"></i> Complete Pickup</button>
        <button type="submit" name="actionType" value="Cancel" class="btn btn-danger"> <i class="bi bi-x-circle-fill"></i> Cancel Order</button>
    </div>
</form>